<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hobbies</title>
</head>

<body>
    <h1>Nav menu</h1>
    <ol>
        <li><a href="../index.html">Home</a></li>
        <li><a href="books.html">Books</a></li>
        <li><a href="movies.html">Movies</a></li>
    </ol>
    <hr>
    <h1>Hobbies</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam cum excepturi cumque et voluptatem atque ullam
        quaerat pariatur mollitia? Dolorum!</p>
    <img src="../assets/images/hobbies.jpg" alt="hobbies">
    <ol>
        <li>Reading</li>
        <li>Gaming</li>
        <li>Coding</li>

    </ol>
</body>

</html>